/* #region Variables */
:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navy-blue-modal: rgba(46, 47, 66, 0.4);
	--grey: rgba(46, 47, 66, 0.7);
	--white: #fff;
	--dairy: #fcfcfc;
	--font-family: "Roboto", sans-serif;
	--second-family: "Raleway", sans-serif;
	--trns-slow: 600ms ease-out;
	--trns-fast: 300ms ease-in;
}
/* #endregion */

/* #region Base */
*,
*::before,
*::after {
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
}

a {
	text-decoration: none;
}

body {
	font-family: var(--font-family);
	color: var(--navy-blue);
}

ul, ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

.container { 
	min-width: 320px;
	max-width: 428px;
	padding: 0 16px;
	margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
	max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
	max-width: 1158px;
	padding: 0 15px;
  }
}
/* #endregion */

/* #region Logo */
.logo {
	padding: 25px 0;
	margin-right: 76px;
	font-family: var(--second-family);
	font-weight: 800;
	font-size: 18px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--iris);
}

.logo-part {
	color: var(--navy-blue);
}

.footer-logo-text {
	display: inline-block;
	margin-left: 120px;
	
}

.footer-logo-link {
	display: flex;
	justify-content: center;
	font-family: var(--second-family);
	font-weight: 800;
	font-size: 18px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--iris);
}

@media only screen and (min-width: 768px) {
  .footer-logo-link {
	justify-content: flex-start;
  }
}

.footer-logo-part {
	color: var(--cloud);
}

/* #endregion */

/* #region Footer */
.footer {
	background-color: var(--navy-blue);
	padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .footer {
	display: flex;
	background-color: var(--navy-blue);
	background-size: 1440px;
	padding: 100px 0;
  }
}

.container-footer {
	display: flex;
	flex-direction: column;
	gap: 72px;
	align-items:center;
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .container-footer{
	flex-direction: row;
	flex-wrap: wrap;
	gap: 24px 72px;
	align-items: baseline;
	padding: 0 92px;
  }
}

@media only screen and (min-width: 1158px) {
	.container-footer {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
  }

.footer-logo {
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items:center;
}

@media only screen and (min-width: 768px) {
	.footer-logo {
		align-items: start;
  	}
}

.footer-text {
	margin-top: 16px;
	width: 264px;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.32px;
	color: var(--cloud);
	text-transform: none;
}

.footer-social {
	display: flex;
	flex-direction: column;
	align-items:center;
	flex-grow: 1;
	gap: 16px;
}

@media only screen and (min-width: 768px) {
  .footer-social {
	align-items: flex-start;
  }
}

.footer-social-title {
	display: flex;
	justify-content: center;
	margin-bottom: 16px;
	color: var(--WHITE, #FFF);
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.32px;
}

@media only screen and (min-width: 768px) {
  .footer-social-title {
	justify-content: flex-start;
  }
}

.footer-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.footer-socials-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: var(--IRIS, #4D5AE5);
	border-radius: 50%;
	width: 40px;
	height: 40px;
	transition: var(--trns-fast);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
	background-color: var(--GREEN, #31D0AA);
}

.footer-social-icon {
	fill: white;
}

.footer-form {
	display: flex;
    flex-direction: column;
    gap: 16px;
	
}

@media only screen and (min-width: 1158px) {
  .footer-form {
	margin-left: 80px;
  }
}

.footer-form-text {
	display: flex;
	justify-content: center;
	color: var(--white);
	margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .footer-form-text {
	justify-content: flex-start;
  }
}

.footer-form-sub {
	display: flex;
	flex-direction: column;
    align-items: center;
	gap: 24px;
}

@media only screen and (min-width: 768px) {
  .footer-form-sub {
	flex-direction: row;
  }
}

.footer-form-field {
	position: relative;
	max-width: 264px;
	width: 100%;
}

.footer-form-input {
	width: 264px;
	height: 40px;
	padding: 8px 16px;
	border-radius: 4px;
	border: 1px solid var(--WHITE, #FFF);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	outline: transparent;
	background-color: transparent;
	color: var(--white);
}

.footer-form-lable {
	position: absolute;
	top: 50%;
	left: 16px;
	padding: 0 4px;
	background-color: var(--navy-blue);
	transform: translateY(-50%);
	color: var(--white);
	font-size: 12px;
	line-height: 2;
	letter-spacing: 0.48px;
	transition: var(--trns-fast);
}

.footer-form-input:focus + .footer-form-lable,
.footer-form-input:not(:placeholder-shown) + .footer-form-lable {
	transform: translateY(-135%);
}

.footer-form-input::placeholder {
	opacity: 0;
	transition: opacity 200ms ease-in 0s;
}

.footer-form-input:focus::placeholder {
	opacity: 1;
	transition-delay: 300ms;
}

/* #endregion */

/* #region Button */
.subscription-btn {
	display: inline-flex;
	padding: 8px 24px;
	justify-content: center;
	align-items: center;
	width: 165px;
	height: 40px;
	gap: 16px;
	border: none;
	border-radius: 4px;
	background: var(--IRIS, #4D5AE5);
	color: var(--white);
	fill: var(--white);
}

.subscription-btn:hover,
.subscription-btn:focus {
	background: var(--ocean);
}

.order-btn {
	/* button */
	border: none;
	border-radius: 4px;
	padding: 16px 32px;
	width: 169px;
	height: 56px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
	background: var(--iris);
	cursor: pointer;
	/* text */
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 15px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--white);	
}

.order-btn:hover,
.order-btn:focus {
	background: var(--ocean);
}

.filter-btn {
	/*button*/
	min-width: 69px;
	border: 1px solid var(--cornflower);
	border-radius: 4px;
	padding: 16px 24px;
	height: 48px;
	background: var(--cloud);
	cursor: pointer;
	transition: var(--trns-fast);
	/*Text*/
	font-weight: 500;
	font-size: 15px;
	line-height: 1.6;
	letter-spacing: 0.04em;
	text-align: center;
	color: var(--iris);
}

.filter-btn:hover,
.filter-btn:focus {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
	background: var(--ocean);
	color: var(--white);
}

.modal-btn {
	position: absolute;
	width: 24px;
	height: 24px;
	top: 24px;
	right: 24px;
	display: flex;
	justify-content: center;
	align-items:center;
	padding: 0;
	background-color: transparent;
	border: solid 1px rgba(0, 0, 0, 0.10);
	border-radius: 50%;
	background: var(--CORNFLOWER, #E7E9FC);
	fill: var(--navy-blue);
	cursor: pointer;
	transition: var(--trns-fast);
}

.modal-btn:hover,
.modal-btn:focus {
	background: var(--OCEAN, #404BBF);
	fill: var(--white);
}

.sumbit-wrapper {
	display: flex;
	justify-content: center;
}

.btn-accent {
	/* button */
	border: none;
	border-radius: 4px;
	padding: 16px 32px;
	width: 169px;
	height: 56px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
	background: var(--iris);
	cursor: pointer;
	/* text */
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 15px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--white);
}

.btn-accent:hover,
.btn-accent:focus {
	background: var(--ocean);
}
/* #endregion */

/* #region Header*/
.header {
	border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
}

.header-container {
	display: flex;
	align-items: center;
}

.navigation {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 767px) {
  .navigation {
	justify-content: space-between;
    flex-grow: 1;
  }
}

.nav-list {
	display: flex;
	gap: 40px;
}

@media only screen and (max-width: 767px) {
  .nav-list {
	display: none;
  }
}

@media only screen and (min-width: 768px) {
	.nav-list {
	  margin-right: 120px;
	}
}

@media only screen and (min-width: 1158px) {
	.nav-list {
	  margin-right: 0;
	}
}

.nav-link {
	position: relative;
	display: block;
	padding: 24px 0;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--navy-blue);
}

.current.nav-link {
	color: var(--ocean);
}

.current.nav-link::after {
	position: absolute;
	left: 0;
	bottom: -1px;
	content: "";
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background: var(--OCEAN, #404BBF);
}

.nav-link:hover,
.nav-link:focus {
	color: var(--ocean);
}

.address {
	font-style: normal;
	margin-left: auto;
}

@media only screen and (max-width: 767px) {
  .address {
	display: none;
  }
}

.address-list {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

@media only screen and (min-width: 1158px) {
	.address-list {
		flex-direction: row;
		gap: 40px;

  }
}

.address-link {
	display: block;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-transform: lowercase;
	color: var(--slate);
}

@media only screen and (min-width: 1158px) {
  .address-link {
	padding: 24px 0;
  }
}

.address-link:hover, 
.address-link:focus {
	color: var(--iris);
}

/* #endregion */

/* #region First Main*/
.first-main {
	max-width: 428px;
	margin: 0 auto;
	padding: 112px 0;
	background-color: var(--navy-blue);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
	rgba(46, 47, 66, 0.7)), url(../images/main/main-bg_mob.jpg);
}

@media (min-resolution: 192dpi) {
	.first-main {
		background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
		rgba(46, 47, 66, 0.7)), url(../images/main/main-bg_mob@2x.jpg);
  	}
}

@media only screen and (min-width: 768px) {
	.first-main {
		max-width: 768px;
		background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
		rgba(46, 47, 66, 0.7)), url(../images/main/main-bg_tab.jpg);
		
		@media (min-resolution: 192dpi) {
			background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
			rgba(46, 47, 66, 0.7)), url(../images/main/main-bg_tab@2x.jpg);
		}
  	}
}

@media only screen and (min-width: 1158px) {
  	.first-main {
		max-width: 1440px;
		padding: 188px 0;
		background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
		rgba(46, 47, 66, 0.7)), url(../images/main/main-bg_desk.jpg);

		@media (min-resolution: 192dpi) {
			background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
			rgba(46, 47, 66, 0.7)), url(../images/main/main-bg_desk@2x.jpg);
		}
  	}
}

.title-main-page {
	margin-bottom: 72px;
	margin-left: auto;
	margin-right: auto;
	max-width: 320px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.1;
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--white);
}

@media only screen and (min-width: 768px) {
  	.title-main-page {
		margin-bottom: 36px;
		max-width: 496px;
		font-size: 56px;
  	}
}

@media only screen and (min-width: 1158px) {
  	.title-main-page {
		margin-bottom: 48px;
  	}
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/* #endregion */

/* #region Features*/
.features {
	padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .features {
	padding: 120px 0;
  }
}

.features-list {
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	gap: 72px;
}

@media only screen and (min-width: 768px) {
  .features-list {
	flex-direction: row;
	flex-wrap: wrap;
	gap: 72px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .features-list {
	flex-wrap: nowrap;
	gap: 24px;
  }
}

.features-item {
	max-width: 396px;
}

@media only screen and (min-width: 768px) {
  .features-item {
	max-width: 356px;
  }
}

@media only screen and (min-width: 1158px) {
	.features-item {
		flex-basis: calc(100% - 24px / 4);
	}
  }

.features-icon-wrapper {
	display: none;
	position: relative;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
}

@media only screen and (min-width: 1158px) {
  .features-icon-wrapper {
	display: flex;
  }
}

.features-title {
	display: flex;
	justify-content: center;
	font-weight: 700;
	font-size: 36px;
	font-style: normal;
	line-height: 1.2;
	letter-spacing: 0.02em;
	margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
	.features-title {
	  justify-content: flex-start;
	}
  }

@media only screen and (min-width: 1158px) {
  .features-title {
	font-weight: 500;
	font-size: 20px;
  }
}

.features-descr {
	font-weight: 500;
	font-size: 16px;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--slate);
}

@media only screen and (min-width: 1158px) {
  .features-descr {
	font-weight: 400;
  }
}

/* #endregion */

/* #region Specifications*/
.specifications {
	display: none;
	
}

@media only screen and (min-width: 1158px) {
  .specifications {
	display: flex;
	padding-bottom: 120px;
  }
}

.specifications-title {
	margin-bottom: 72px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.1;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	text-align: center;
}

.specifications-list {
	display: flex;
	gap: 24px;
}

.specifications-item {
	flex-basis: calc(100% - 24px / 3);
}
/* #endregion */

/* #region Team*/
.team {
	background: var(--CLOUD, #F4F4FD);
	background-size: 428px;
	padding: 96px 0;
}

@media only screen and (min-width: 768px) {
  .team {
	background-size: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .team {
	background-size: 1440px;
	padding: 120px 0;
  }
}

.team-title {
	margin-bottom: 72px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.1;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	text-align: center;
}

.team-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 72px;
}

@media only screen and (min-width: 768px) {
  .team-list {
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 64px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .team-list {
	flex-wrap: nowrap;
	gap: 24px;
  }
}

.team-item {
	max-width: 264px;
	display: flex;
	flex-direction: column;
	border-radius: 0px 0px 4px 4px;
	background: var(--WHITE, #FFF);
	box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

@media only screen and (min-width: 1158px) {
  .team-item {
	flex-basis: calc(100% - 24px / 4);
	border-radius: 0px 0px 4px 4px;
	background: var(--WHITE, #FFF);
	box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  }
}

.team-card {
	padding: 32px 0 8px 0;
}

.team-name {
	margin-bottom: 8px;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	text-align: center;
}

.team-role {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--slate);
}
.social-list {
	padding-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.socials-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: var(--IRIS, #4D5AE5);
	border-radius: 50%;
	width: 40px;
	height: 40px;
	transition: var(--trns-fast);
}

.socials-link:hover,
.socials-link:focus {
	background-color: var(--ocean);
}

.social-icon {
	fill: white;
}
/* #endregion */

/* #region Customers*/
.customers {
	padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .customers {
	padding: 120px 0;
  }
}

.customers-title {
	margin-bottom: 72px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.1;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	text-align: center;
}

.customers-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 72px 16px;
}

@media only screen and (min-width: 1158px) {
  .customers-list {
	flex-wrap: nowrap;
	gap: 24px;
  }
}

.customers-item {
	max-width: 190px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 88px;
	border-radius: 4px;
	border: 1px solid var(--LIGHT-SLATE, #8E8F99);
	transition: border-color var(--trns-fast);
}

.customers-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.customers-icon {
	fill: var(--light-slate);
	transition: fill var(--trns-fast);
}
.customers-item:hover,
.customers-item:focus-within {
	border-color: var(--OCEAN, #404BBF);
	fill: var(--OCEAN, #404BBF);
}

.customers-item:hover .customers-icon,
.customers-item:focus-within .customers-icon {
	fill: var(--OCEAN, #404BBF);
}

.customers-item:hover .customers-link,
.customers-item:focus-within .customers-link {
	color: var(--OCEAN, #404BBF);
}
/* #endregion */

/* #region Filter */
.filter {
	padding-top: 96px;
	padding-bottom: 120px;
}

.filter-list {
	display: flex;
    flex-wrap: wrap;
    gap: 24px 16px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 48px;
}

@media only screen and (min-width: 768px) {
	.filter-list {
		display: flex;
		align-items: flex-start;
		gap: 24px;
		margin-bottom: 72px;
		flex-wrap: nowrap;
		justify-content: center;
		margin-bottom: 72px;
  }
}

.container-portfolio {
	max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .container-portfolio {
	max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
	.container-portfolio {
	  max-width: 1158px;
	}
}

/* #endregion */

/* #region Portfolio */
.portfolio-list {
	display: flex;
	row-gap: 48px;
	column-gap: 24px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
	.portfolio-list {
		min-width: 768px;
		gap: 72px 24px;
		justify-content: space-between;
  	}
}

@media only screen and (min-width: 1158px) {
	.portfolio-list {
		min-width: 1158px;
		justify-content: space-around;
  	}
}

.portfolio-item-wrapper {
	position: relative;
	overflow: hidden;
}

.overlay {
	position: absolute;
	padding: 40px 32px;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color: var(--CLOUD, #F4F4FD);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.32px;
	background: var(--IRIS, #4D5AE5);
	transform: translateY(100%);
	transition: var(--trns-slow);
	transition-property: transform;
}

.portfolio-item:hover .overlay, 
.portfolio-item:focus-within .overlay {
	transform: translateY(0);
}

.item-descr {
	padding: 32px 16px;
	border: 1px solid var(--CORNFLOWER, #E7E9FC);
	background: var(--WHITE, #FFF);
}

.item-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--navy-blue);
	margin-bottom: 8px;
}

.item-subtitle {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--slate);
}
/* #endregion */

/* #region Backdrop*/
.backdrop {
	position: fixed;
	inset: 0;
	background: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
	backdrop-filter: blur(2px);
	transition: var(--trns-slow);
	transition-property: opacity, visibility;
	transition-delay: 0ms
}

.backdrop.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition-delay: 500ms;
}
/* #endregion */

/* #region Modal window*/
.modal {
	padding: 16px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%) scale(1);
	max-width: 392px;
	width: 90%;
	min-height: 584px;
	border-radius: 4px;
	background-color: var(--DAIRY, #FCFCFC);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition-property: transform, opacity;
	transition-delay: 600ms;
}

@media only screen and (min-width: 768px) {
  .modal {
	max-width: 408px;
	padding: 24px;
	width: 100%;
  }
}

.modal-cta {
	display: flex;
	justify-content: center;
	margin-top: 48px;
	margin-bottom: 16px;
}

.backdrop.is-hidden .modal{
	transform: translateX(-50%) translateY(-50%) scale(0.3);
	opacity: 0;
	transition-delay: 0ms;
}
/* #endregion */

/* #region Feedback-form*/
.feedback-form-wrapper {
	margin-bottom: 8px;
}
.feedback-form-label {
	font-size: 12px;
	letter-spacing: 0.48px;
	color: var(--light-slate);
}
.feedback-form-field {
	position: relative;
	margin-top: 4px;
}
.feedback-form-input {
	width: 100%;
	height: 40px;
	padding: 11px 38px;
	font-size: 18px;
	line-height: 1.16;
	letter-spacing: 0.48px;
	color: var(--navy-blue);
	border-radius: 4px;
	border: 1px solid var(--navy-blue-modal);
	outline: transparent;
	box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.03);
	transition: var(--trns-fast);
}
.feedback-form-input:focus {
	border-color: var(--iris);
}
.feedback-form-icon {
	position: absolute;
	top: 50%;
	left: 16px;
	transform: translateY(-50%);
	fill: none;
	stroke: var(--navy-blue);
	pointer-events: none;
	transition: var(--trns-fast);
	fill: var(--navy-blue);
}
.feedback-form-input:focus + .feedback-form-icon {
	fill: var(--iris);
}
.feedback-form-message {
	width: 100%;
	height: 120px;
	padding: 8px 16px;
	margin-top: 4px;
	margin-bottom: 8px;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.48px;
	border-radius: 4px;
	border: 1px solid var(--navy-blue-modal);
	outline: transparent;
	resize: none;
}
.feedback-form-message:focus {
	border-color: var(--iris);
}
.feedback-form-message::placeholder {
	color: var(--navy-blue-modal);
}
.feedback-form-agreement {
	margin-bottom: 24px;
}
.feedback-form-agreement-desc {
	font-size: 14px;
	line-height: 1.21;
	letter-spacing: -0.02em;
	color: var(--navy-blue);
}
.feedback-form-agreement-link {
	color: var(--iris);
	text-decoration: underline;
	text-decoration-skip-ink: none;
}
/* #endregion */

/* #region Checkbox*/
.feedback-form-checkbox {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 16px;
	height: 16px;
	margin-right: 8px;
	border-radius: 2px;
	border: 1px solid var(--navy-blue-modal);
	cursor: pointer;
	transition: var(--trns-fast);
}
input[type='checkbox']:checked
+ .feedback-form-agreement-desc
> .feedback-form-checkbox {
	border-color: transparent;
	background-color: var(--iris);
}
.feedback-form-checkbox-icon {
	transform: scale(0.25);
	fill: transparent;
	transition: 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
input[type='checkbox']:checked
+ .feedback-form-agreement-desc
> .feedback-form-checkbox
> .feedback-form-checkbox-icon {
	fill: var(--white);
	transform: scale(1);
}

/* #endregion */

/* #region Mobile menu*/
.menu-toggle {
	min-height: 40px;
	min-width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;

	margin: 0;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	outline: none;
	}

@media (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
}

.menu-toggle:hover,
.menu-toggle:focus {
	background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding: 80px 35px 40px 40px;
	display: flex;
	flex-direction: column;
	background-color: var(--white);
	z-index: 999;

	transform: translateX(100%);
	transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
	transform: translateX(0);
}

.menu-container .menu-toggle {
	position: absolute;
	top: 24px;
	right: 24px;
	border: solid 1px var(--cornflower);
	cursor: pointer;
	transition: var(--trns-fast);
}

.mobile-menu {
	margin-bottom: auto;
}

.mobile-menu li:not(:last-child){
	margin-bottom: 40px;
}

.mobile-menu .link {
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--NAVY-BLUE, #2E2F42);

}

.mobile-menu .link.active {
	color: var(--OCEAN, #404BBF);
}

@media only screen and (max-width: 427px) {
  .mobile-socials {
	justify-content: space-between;
  }
} 
	
@media only screen and (min-width: 428px) {
	.mobile-socials {
	  gap: 56px;
	}
  } 

.mobile-contacts {
	margin-bottom: 48px;
}

.mobile-contacts .link{
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--SLATE, #434455);
}

@media only screen and (min-width: 428px) {
  .mobile-contacts .link.accent {
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	color: var(--ocean);
  }
}

.mobile-contacts li:not(:last-child){
	margin-bottom: 40px;
}
/* #endregion */